* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(./img/fondo\12.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Helvetica Neue, Arial, Helvetica, Verdana, sans-serif;
  color: #ff0077;
}

.logtit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logtit h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logtit img {
  margin-right: 250px;
}

nav {
  background-color: black;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

nav li {
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

#main {
  padding: 10px;
  overflow: hidden;
}

#principal {
  float: left;
  font-size: 20px;
  color: black;
}

#imgp {
  float: right;
}

section h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .p1 {
  font-style: italic;
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

section .p2 {
  font-style: italic;
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

section .p3 {
  font-style: italic;
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botones img {
  -webkit-transition: width 1s;
  transition: width 1s;
}

.botones img:hover {
  width: 250px;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tel h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tel h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.cont h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.cont h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin-bottom: 30px;
}

.form, .form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form label, .form2 label {
  text-align: center;
  color: black;
}

.boton1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

#imagenestit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

#grid-area {
  display: -ms-grid;
  display: grid;
  grid-column: 300px 1500px 800px 800px;
  grid-row: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobrenos h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.sobrenos p {
  font-size: 20px;
  color: black;
  margin: 3%;
  text-align: justify;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.cursostit h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cursos1 h3, .cursos2 h3, .cursos3 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cursos1 p, .cursos2 p, .cursos3 p {
  color: black;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  body {
    background-size: 300%;
    color: green;
    font-size: 20px;
  }
  .mapa {
    width: 100%;
  }
  .logtit img {
    margin-right: 50px;
    width: 110px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .logtit img {
    margin-right: 120px;
    width: 150px;
  }
}

#galeria .col-lg-4 {
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid white;
}
